#navbar {
  display: flex;
  justify-content: center; 
} 



.header {
  font-size: 14px;
  display: flex;
  align-items: center;
}


.menu {
  width: 100%;
}
.logo {
  font-weight: bold;
  color: white;
  font-size: xx-large;
  position: relative;
  display: flex;
  justify-content: center;
}
.logo:hover {
  color: white;
}
.logo::after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 2.7rem;
  width: 10px;
  height: 0.1rem;
  background-color: white;
}

.about-btn {
  /* background-image: url("../../img/btn.png"); */
  border-radius: 0.8rem;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: white;
  padding: 0.5rem 2.5rem;
}
