/* .logo {
  width: 100px;
  height: 100px;
  margin-left: 300px;
}

.logo img {
  width: 100%;
  height: 100%;
} */

/* .menuo{
    position: absolute;  
    left: 50%; 
    transform: translate(-50%);
} */
/* 
.handleLogo {
  position: relative;
}

.handleLogo img {
  width: 10%;
  height: 20%;
} */

